version: '3'
services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: php:7.2.14-fpm
    container_name: app
    restart: unless-stopped
    env_file: .env.prod.example
    tty: true
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - app-network
    depends_on:
      - "db"
    command: ["sh","-c","php artisan migrate --force && php-fpm"]

  webserver:
    image: nginx:alpine
    container_name: webserver
    restart: unless-stopped
    tty: true
    ports:
      - "80"
    volumes:
      - ./:/var/www
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - app-network

  db:
    image: mysql:5.7.25
    container_name: db
    restart: unless-stopped
    tty: true
    expose:
      - "3306"
    env_file:
      - .env.prod.example
    volumes:
      - dbdata:/var/lib/mysql
      - ./mysql/my.cnf:/etc/mysql/my.cnf
    networks:
      - app-network

  redis:
    image: redis:5.0.3
    container_name: redis
    restart: unless-stopped
    tty: true
    expose:
      - "6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
    driver: local
